<div class="container w-50">

    <div class="mt-2">
        <h3>To be approved or deleted</h3>
    </div>

    <table class="table table-hover text-dark">
      <tr class="fw-bold">
          <td>Position</td>
          <td>First name</td>
          <td>Last name</td>
          <td>Laptime (HH:mm:ss:SSS)</td>
      </tr>  
      <tr *ngFor="let time of unappTimes; index as i">
        <td>{{i+1}}.</td>
        <td>{{time.firstName}}</td>
        <td>{{time.lastName}}</td>
        <td>{{time.time | date: "HH:mm:ss:SSS"}}</td>
      </tr>
    </table>

    <div class="mt-4">
        <h2>Approved top times</h2>
    </div>

        <table class="table table-hover text-dark">
          <tr class="fw-bold">
              <td>Position</td>
              <td>First name</td>
              <td>Last name</td>
              <td>Laptime (HH:mm:ss:SSS)</td>
          </tr>  
          <tr *ngFor="let time of topTimes; index as i">
            <td>{{i+1}}.</td>
            <td>{{time.firstName}}</td>
            <td>{{time.lastName}}</td>
            <td>{{time.time | date: "HH:mm:ss:SSS"}}</td>
          </tr>
        </table>
        </div>