<div class="container w-25">
    <form #loginForm="ngForm" class="form-group mt-2 justify-content-center" (ngSubmit)="login()" autocomplete="off">
              <input 
                name="username"
                [(ngModel)]="username"
                class="form-control" 
                type="string" min="3"
                placeholder="Admin username">
                
                <div class="mt-2">
                    <input
                    name="password"
                    [(ngModel)]="password"
                    type="password" 
                    class="form-control" 
                    placeholder="Admin password">
                </div>
             
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary" routerLink='/public' type="button">View or submit a laptime as guest</button>
                    <button class="btn btn-outline-dark ml-4" type="submit">Admin login</button>
                </div>
    </form>
  </div>